# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore models (optional if models are large, but keep the folder structure)
models/*.pkl

# Allow dataset CSV inside data/
!data/owid-co2-data.csv
